on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  ci-mac:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
        dep-versions: [--frozen, "--resolution lowest", "--resolution highest"]
    steps:
      - run: brew update && brew install protobuf
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv python install ${{ matrix.python-version }}
          uv sync --all-groups ${{ matrix.dep-versions }}
          uv pip install .
          uv pip freeze
          uv run pytest
          uv run pyright
          uv run ruff check
          uv build

  ci-win:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
        dep-versions: [--frozen, "--resolution lowest", "--resolution highest"]
    steps:
      - run: choco install protoc
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv python install ${{ matrix.python-version }}
          uv sync --all-groups ${{ matrix.dep-versions }}
          uv pip install .
          uv pip freeze
          uv run pytest
          uv run pyright
          uv run ruff check
          uv build

  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
        dep-versions: [--frozen, "--resolution lowest", "--resolution highest"]
    steps:
      - run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv python install ${{ matrix.python-version }}
          uv sync --all-groups ${{ matrix.dep-versions }}
          uv pip install .
          uv pip freeze
          uv run pytest
          uv run pyright
          uv run ruff check
          uv build

  release-mac:
    needs: ci-mac
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
    environment: release
    permissions:
      id-token: write
    steps:
      - run: brew update && brew install protobuf
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv build --wheel
          rm -vf dist/.gitignore  # https://github.com/astral-sh/uv/issues/11652
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          verbose: true
      - run: rm -f dist/*.attestation  # should I parametrise release instead?
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true

  release-win:
    needs: ci-win
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
    environment: release
    permissions:
      id-token: write
    steps:
      - run: choco install protoc
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv build --wheel
          rm -vf dist/.gitignore  # https://github.com/astral-sh/uv/issues/11652
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          verbose: true
      - run: rm -f dist/*.attestation  # should I parametrise release instead?
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true

  release:
    needs: ci
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8, 3.9, "3.10", 3.11, 3.12, 3.13, 3.13t, 3.14]
    environment: release
    permissions:
      id-token: write
    steps:
      - run: sudo apt-get update && sudo apt-get install protobuf-compiler
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: |
          uv build --sdist --wheel
          rm -vf dist/.gitignore  # https://github.com/astral-sh/uv/issues/11652
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          verbose: true
      - run: rm -f dist/*.attestation  # should I parametrise release instead?
      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          verbose: true
